
/* Acumin Pro Condensed font-face, pastikan file sudah di public/fonts/ */
@font-face {
  font-family: 'Acumin Pro Condensed';
  src: url('/fonts/Acumin%20Pro%20Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Acumin Pro Condensed', Arial, Helvetica, sans-serif;
}

.custom-scrollbar-detail {
  scrollbar-width: thin;
  scrollbar-color: #8aa796 #e3e7c7;
}
.custom-scrollbar-detail::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar-detail::-webkit-scrollbar-track {
  background: #e3e7c7;
  border-radius: 999px;
}
.custom-scrollbar-detail::-webkit-scrollbar-thumb {
  background: #8aa796;
  border-radius: 999px;
  border: 2px solid #e3e7c7;
}
.custom-scrollbar-detail::-webkit-scrollbar-thumb:hover {
  background: #6f8f7c;
}
